<form [formGroup]="actorsForm" (submit)="onSubmit()">
  <div>
    <div class="row gl-xl-9 mb-5">
      <div class="col-xl-6 mb-5">
        <label class="form-label required"> Nombre del Actor </label>
        <input
          class="form-control"
          type="text"
          placeholder="Ingresar Nombre de Actor"
          formControlName="actorName"
        />
        <div class="text-danger mt-2">
          <span *ngIf="actorsForm.invalid">{{ getErrorForm('actorName') }}</span>
        </div>
      </div>

      <div class="col-xl-6">
        <label class="form-label required"> Fecha de Nacimiento </label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="ki-duotone ki-calendar fs-2"
              ><span class="path1"></span><span class="path2"></span
            ></i>
          </span>
          <input class="form-control" type="date" formControlName="birthDay" />
        </div>
        <div class="text-danger mt-2">
          <span *ngIf="actorsForm.invalid">{{ getErrorForm('birthDay') }}</span>
        </div>
      </div>
    </div>
    <div class="d-flex gap-4 justify-content-end">
      <a routerLink="/actors/list" class="btn btn-bg-secondary">Cancelar</a>
      <button class="btn btn-primary" [disabled]="actorsForm.invalid">Guardar Cambios</button>
    </div>
  </div>
</form>
